/* reset */
html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, dl, dt, dd, ol, ul, li, fieldset, form, label, legend { vertical-align: baseline; font-family: inherit; font-weight: inherit; font-style: inherit; font-size: 100%; outline: 0; padding: 0; margin: 0; border: 0; }
:focus { outline: 0; }
ol, ul { list-style: none; }
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { font-weight: normal; text-align: left; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

.desayuno{ width: 320px; height: 480px;}


.top-bar{ width: 100%; height: 170px;   }
.content{ width: 100%; height: 270px; }
.nav-bar{ float:left; width: 298px; height: 35px; margin-left:13px;  background-image: url(../img/menu.png);}
.espa{ height:5px; width:100%;}

.nav-item{
	width: 15%;
	float: left;
	margin: 0 2.5% 0 2.5%;
	height: 40px;
	text-align: center;
	font-size: .5em;
	font-family: Arial;
	color: #fff;
	text-transform: uppercase;

}
.inicio{
	background-image: url(../img/inicio.png);
	height: 480px;
	width: 320px;
}
.oculto{}
#MO{}

.column{
	width: 90px;
	height: 110px;
	float: left;
}
.column1{
	width: 90px;
	height: 110px;
	float: left;
	background-image: url(../img/columna1.png);
	margin-top:15px;
	margin-left:18px;
}
.column2{
	width: 90px;
	height: 110px;
	float: left;
	background-image: url(../img/columna2.png);
	margin-top:15px;
}
.column3{
	width: 90px;
	height: 110px;
	float: left;
	background-image: url(../img/columna3.png);
	margin-top:15px;
}
.contenedor{
	width: 280px;
	height: 125px;
	float: left;
	background-image: url(../img/contenedor.png);
	margin-left:21px;
	margin-top:10px;
}
.titulo{ width:90px; height:10; display:block; float:left; margin-top:5px;}
.sepa{ width:8px; height:125px; display:block; float:left;}

.imagen1{
	width: 80px;
	height: 50px;
	float: left;
	background-image: url(../img/pinto.png);
	margin-left:5px;
}
.imagen2{
	width: 80px;
	height: 50px;
	float: left;
	background-image: url(../img/almuerzo.png);
	margin-left:5px;
}
.imagen3{
	width: 80px;
	height: 50px;
	float: left;
	background-image: url(../img/cena.png);
	margin-left:5px;
}
.imagen4{
	width: 80px;
	height: 50px;
	float: left;
	background-image: url(../img/cafe.png);
	margin-left:5px;
	margin-top:5px;
}
.imagen5{
	width: 80px;
	height: 50px;
	float: left;
	background-image: url(../img/postre.png);
	margin-left:5px;
	margin-top:5px;
}

.imagen7{
	width: 80px;
	height: 80px;
	display: block;
	float: left;
	background-image: url(../img/Ale_desayuno320.png);
	margin-left:5px;
}
.imagen8{
	width: 80px;
	height: 80px;
	display: block;
	float: left;
	background-image: url(../img/Ale_pan320.png);
	margin-left:5px;
}
.imagen9{
	width: 80px;
	height: 80px;
	display: block;
	float: left;
	background-image: url(../img/Ale_Pinto320.png);
	margin-left:5px;
}
.tabla{
	width: 15px;
	height: 20px;
	background-image: url(../img/Tabla.png);
	margin-top: 5px;
	margin-left:5px;
}

.alejo{ width:320px; height:10px; float:left;}
@media only screen and (max-width: 320px){
	
.contenedor{border-radius: 0.625em;}

.fondo{background-image: url(../img/fondo1.png); width:20em; height:31em;}
.fondo1{
	width: 20em;
	height: 31em;
	background-color: #FF6;
}
.fondo3{
	width: 20em;
	height: 31em;
	background-image: url(../img/background_green2.gif);	
}
	#contenedorCarlos {
	border:solid;
	border-color:#000;
	
	border-radius:0.625em;
	box-shadow:0em 0em 1.250em rgba(0,0,0,1);
	width: 20.000em;
	height: 30.000em;
	background-image:url(../img/rojo.jpg);
}
#contenedorAlonso {
	border:solid;
	border-color:#000;
	border-radius:0.625em;
	box-shadow:0em 0em 1.250em rgba(0,0,0,1);
	width: 20.000em;
	height: 30.000em;
}

    .nav-bar ul{list-style-type: none;
                text-align: center;
                left: 0em;
                padding-top: .5em;}
    .nav-bar li{
	display: inline;
	color: #930;
	text-transform: uppercase;
	font-size: 0.8125em;
	font-weight: bold;
	padding: 0.2em;
}
#encabezado{
	background-image:url(../img/baner.png);
	margin-top:0.938em;
	margin-left:0.938em;
	width:18.125em;
	height:8.125em;
	float:left;
	border-radius:0.625em;
}


#pinto{
	width: 4.600em;
	height: 3.900em;
	margin-left: 0.563em;
	position: absolute;
	background-image: url(../img/PintoAle1.png);
}

#reposteria{
	width: 4.600em;
	height: 3.900em;
	margin-left: 0.563em;
	position: absolute;
	background-image: url(../img/reposteria1.png);
}

#cafes{
	width: 4.600em;
	height: 3.900em;
	margin-right: 0.125em;
	margin-left: 0.563em;
	position: absolute;
	background-image: url(../img/cafeAle1.png);
}


#especialidades{
	width: 4.600em;
	height: 3.900em;
	margin-left: 0.563em;
	position: absolute;
	background-image: url(../img/comida1.png);	
}

#comida{
	width: 4.600em;
	height: 3.900em;
	margin-left: 0.563em;
	position: absolute;
	background-image: url(../img/cenaComida1.png);
}

#bebida{
	width: 4.600em;
	height: 3.900em;
	margin-right: 0.125em;
	margin-left: 0.563em;
	position: absolute;
	background-image: url(../img/vino1.png);	
}

#columna1{
	background-image:url(../img/columna1.png);
	width:5.625em;
	height: 6.750em;
	float:left;
	margin-top:0.435em;
	margin-left:1.250em;
	
}
#imagenPlatoFuerte{
	background-image: url(../img/carne.png);
	width: 4.600em;
	height: 3.900em;
	margin-left: 0.563em;
	position: absolute;	
}
#columna2{
	background-image: url(../img/columna2.png);
	width: 5.625em;
	height: 6.750em;
	float:left;
	margin-top:0.435em;
	margin-left:0.450em;
}
#imagenSandwich{
	background-image: url(../img/sandwich1.png);
	width: 4.600em;
	height: 3.900em;
	margin-left: 0.563em;
	position: absolute;
}
#columna3{
	background-image:url(../img/columna3.png);
	width: 5.625em;
	height: 6.750em;
	float:left;
	margin-top:0.435em;
	margin-left:0.450em;
}
#imagenBebida{
	width: 4.600em;
	height: 3.900em;
	margin-right: 0.125em;
	margin-left: 0.563em;
	position: absolute;
	background-image: url(../img/cerveza1.png);	
}
#iconoComidas{
	background-image:url(../img/icon_comidas1.png);
	width: 0.938em;
	height: 0.938em;
	left: 0.063em;
	margin-top: 0.350em;
	float:left;
}
#iconoBebidas{
	background-image:url(../img/icon_bebidas1.png);
	width: 0.938em;
	height: 0.938em;
margin-top: 0.350em;
	left: 9.750em;

	float:left;
}
#enlaces{
	background-image:url(../img/menu.png);
	margin-left:0.938em;
	margin-top: 27.500em;
	width:18.125em;
	height:1.563em;
	position:absolute;
	border-radius:0.625em;
	text-align:center;
	font-family:Verdana, Geneva, sans-serif;
	font-size:0.625em;
	font-weight:bold;
	text-align:center;
	box-shadow:0em 0em 1.250em rgba(0,0,0,1);
}


#menu{
	margin-left: 1.238em;
	margin-top:0.938em;
	width: 17.500em;
	height: 8.750em;
	float: left;
	border-radius: 0.625em;
	background-image: url(../img/contenedor2.png);
}

.column li{
	display: block;
	color: #930;
	text-transform: uppercase;
	font-size: 0.6125em;
	font-weight: bold;
	padding: 0.2em;
}
   #contenedorCarlos h1, h3{
	display: block;
	text-align: left;
	text-transform: uppercase;
	font-size: 0.8125em;
	font-weight: bold;
	padding: 0.5em;
	color: #900;
}
				
		#contenedorCarlos p	{
	display: block;
	text-align: left;
	text-transform: uppercase;
	font-size: 0.6125em;
	font-weight: bold;
	padding: 0.5em;
	color: #900;
}	
	  #contenedorAlonso h1{
	display: block;
	text-align: left;
	text-transform: uppercase;
	font-size: 0.8125em;
	font-weight: bold;
	padding: 0.5em;
	color: #900;
}
				
		#contenedorAlonso p	{
	display: block;
	text-align: left;
	text-transform: uppercase;
	font-size: 0.6125em;
	font-weight: bold;
	padding: 0.5em;
	color: #900;
}				

			

    .top-bar h1{display: block;
                color: #000;
                text-align: center;
                text-transform: uppercase;
                font-size: .8125em;
                font-weight: bold;
                padding: .5em;}
				
	.tabla h1{display: block;
                color: #000;
                text-align: center;
                text-transform: uppercase;
                font-size: .8125em;
                font-weight: bold;
                padding: .5em;
				float:left;
				margin-left:0.938em;}
  
    .fondo1 h1{
	display: block;
	text-align: left;
	text-transform: uppercase;
	font-size: 0.8125em;
	font-weight: bold;
	padding: 0.5em;
	color: #900;
}
                
    .content h1{
	display: block;
	text-align: left;
	text-transform: uppercase;
	font-size: 0.8125em;
	font-weight: bold;
	padding: 0.5em;
	color: #900;
}
}

@media only screen and (min-width: 321px) and (max-width:480px){
.inicio{
	background-image: url(../img/inicio1.png);
    width: 30em;
	height: 33.125em;
}
.fondo{background-image: url(../img/fondo2.png); 
    width: 30em;
	height: 33.125em;}
.fondo1{
	width: 30em;
	height: 35.125em;
	background-color: #FF6;
}
.fondo3{
	width: 30em;
	height: 35.125em;
	background-image: url(../img/background_green2.gif);	
}
#contenedorCarlos {
	border:solid;
	border-color:#000;	
	box-shadow:0.000em 0.000em 1.250em rgba(0,0,0,1);
	width: 30.000em;
	height: 35.125em;
	background-image:url(../img/rojo.jpg);
}
#contenedorAlonso {
	border:solid;
	border-color:#000;	
	box-shadow:0.000em 0.000em 1.250em rgba(0,0,0,1);
	width: 30.000em;
	height: 35.125em;
}

#encabezado{
	margin-top: 0.938em;
	margin-left: 1.838em;
	width: 26.250em;
	height: 11.750em;
	border-radius: 0.625em;
	float: left;
	background-image: url(../img/baner2.png);
}

#columna1{
	background-image:url(../img/columna11.png);
	width: 8.438em;
	height: 8.125em;
	margin-left: 2.125em;
	margin-top: 0.825em;
	text-align:center;
	float:left;
}
#imagenPlatoFuerte{
	background-image: url(../img/carne1.png);
	width: 6.563em;
	height: 4.375em;
	margin-right: 0.125em;
	margin-left: 0.438em;
	margin-top: 0.000em;
	position: absolute;	
}
#columna2{
	background-image: url(../img/columna22.png);
	width: 8.438em;
	height: 8.125em;
	float:left;
	margin-top: 0.825em;
	margin-left: 0.525em;
}
#imagenSandwich{
	background-image: url(../img/sandwich.png);
	width: 6.563em;
	height: 4.375em;
	margin-right: 0.125em;
	margin-left: 0.438em;
	margin-top: 0.000em;
	position: absolute;
}
#columna3{
	background-image:url(../img/columna33.png);
	width: 8.438em;
	height: 8.125em;
	float:left;
	margin-top: 0.825em;
	margin-left: 0.525em;
}
#imagenBebida{
	width: 6.563em;
	height: 4.375em;
	margin-right: 0.125em;
	margin-left: 1.188em;
	margin-top: 0.000em;
	position: absolute;
	background-image: url(../img/cerveza.png);
}



#pinto{
	width: 6.563em;
	height: 4.375em;
	margin-right: 0.125em;
	margin-left: 0.438em;
	margin-top: 0.000em;
	position: absolute;
	background-image: url(../img/PintoAle.png);
}
#reposteria{
	width: 6.563em;
	height: 4.375em;
	margin-right: 0.125em;
	margin-left: 0.438em;
	margin-top: 0.000em;
	position: absolute;
	background-image: url(../img/reposteria.png);
}
#cafes{
	width: 6.563em;
	height: 4.375em;
	margin-right: 0.125em;
	margin-left: 1.188em;
	margin-top: 0.000em;
	position: absolute;
	background-image: url(../img/cafeAle.png);
}




#especialidades{
	width: 6.563em;
	height: 4.375em;
	margin-right: 0.125em;
	margin-left: 0.438em;
	margin-top: 0.000em;
	position: absolute;
	background-image: url(../img/comida.png);	
}
#comida{
	width: 6.563em;
	height: 4.375em;
	margin-right: 0.125em;
	margin-left: 0.438em;
	margin-top: 0.000em;
	position: absolute;
	background-image: url(../img/cenaComida.png);
}
#bebida{
	width: 6.563em;
	height: 4.375em;
	margin-right: 0.125em;
	margin-left: 1.188em;
	margin-top: 0.000em;
	position: absolute;
	background-image: url(../img/vino.png);
}


#menu{
	margin-left: 2.125em;
	margin-top: 1.2em;
	margin-bottom:1.2em;
	width: 26.250em;
	height: 7.150em;
	float:left;
	border-radius: 0.625em;
	background-image: url(../img/contenedor2.png);
}
#iconoComidas{
	background-image:url(../img/icon_comidas1.png);
	width: 0.938em;
	height: 0.938em;
	margin-left: 0.063;
	float:left;
}
#iconoBebidas{
	background-image:url(../img/icon_bebidas1.png);
	width: 0.938em;
	height: 0.938em;
	margin-left: 0.063;
float:left;
}
#enlaces{
	background-image:url(../img/menu2.png);
	margin-left:0.938em;
	margin-top: 34.875em;
	width: 38.25em;
	height: 2.25em;
	position:absolute;
	border-radius:0.625em;
	text-align:center;
	font-family:Verdana, Geneva, sans-serif;
	font-size:0.750em;
	font-weight:bold;
	text-align:center;
	box-shadow:0px 0px 20px rgba(0,0,0,1);
}

.column{
	width: 8.438em;
	height: 6.875em;
	display: block;
	float: left;
}
.column1{
	width: 8.438em;
	height: 8.125em;
	display: block;
	float: left;
	background-image: url(../img/columna11.png);
	margin-top:1.200em;
	margin-left:1.875em;
}
.column2{
	width: 8.438em;
	height: 8.125em;
	display: block;
	float: left;
	background-image: url(../img/columna22.png);
	margin-top:1.200em;
}
.column3{
	width: 8.438em;
	height: 8.125em;
	display: block;
	float: left;
	background-image: url(../img/columna33.png);
	margin-top:1.200em;
}

.imagen1{
	width: 6.875em;
	height: 4.375em;
	display: block;
	float: left;
	background-image: url(../img/pinto2.png);
	margin-left:0.813em;
}
.imagen2{
	width: 6.875em;
	height: 4.375em;
	display: block;
	float: left;
	background-image: url(../img/almuerzo2.png);
	margin-left:0.813em;
}
.imagen3{
	width: 6.875em;
	height: 4.375em;
	display: block;
	float: left;
	background-image: url(../img/cena2.png);
	margin-left:0.813em;
}
.imagen4{
	width: 6.875em;
	height: 4.375em;
	display: block;
	float: left;
	background-image: url(../img/cafe2.png);
	margin-left:0.938em;
	margin-top:0.313em;
}
.imagen5{
	width: 6.875em;
	height: 4.375em;
	display: block;
	float: left;
	background-image: url(../img/postre2.png);
	margin-left:0.938em;
	margin-top:0.313em;
}
.imagen7{
	width: 6.875em;
	height: 4.375em;
	display: block;
	float: left;
	background-image: url(../img/Ale_desayuno480.png);
	margin-left:0.813em;
}
.imagen8{
	width: 6.875em;
	height: 4.375em;
	display: block;
	float: left;
	background-image: url(../img/Ale_pan480.png);
	margin-left:0.813em;
}
.imagen9{
	width: 6.875em;
	height: 4.375em;
	display: block;
	float: left;
	background-image: url(../img/Ale_pinto480.png);
	margin-left:0.813em;
}

.contenedor{
	width: 26.250em;
	height: 8.750em;
	display: block;
	float: left;
	border-radius: 0.625em;
	background-image: url(../img/contenedor2.png);
	margin-left:1.875em;
	margin-top:0.625em;
}
.nav-bar{display: block; width: 27.813em; height: 2.188em; margin-left:1.263em;  background-image: url(../img/menu2.png); float:left;}

	   .nav-bar ul{list-style-type: none;
                text-align: center;
                left: 0;
                padding-top: .5em;}
    .nav-bar li{
	display: inline;
	color: #930;
	text-transform: uppercase;
	font-size: 0.8125em;
	font-weight: bold;
	padding: 0.2em;
}
.column li{
	display: block;
	color: #930;
	text-transform: uppercase;
	font-size: 0.8125em;
	font-weight: bold;
	padding: 0.2em;
}
    
	   #contenedorCarlos h1, h3{
	display: block;
	text-align: left;
	text-transform: uppercase;
	font-size: 0.8125em;
	font-weight: bold;
	padding: 0.5em;
	color: #900;
}
				
		#contenedorCarlos p	{
	display: block;
	text-align: left;
	text-transform: uppercase;
	font-size: 0.6125em;
	font-weight: bold;
	padding: 0.5em;
	color: #900;
}
  
	   #contenedorAlonso h1, h3{
	display: block;
	text-align: left;
	text-transform: uppercase;
	font-size: 0.8125em;
	font-weight: bold;
	padding: 0.5em;
	color: #900;
}
				
		#fondo1 p	{
	display: block;
	text-align: left;
	text-transform: uppercase;
	font-size: 0.6125em;
	font-weight: bold;
	padding: 0.5em;
	color: #900;
}

	   #fondo1 h1, h3{
	display: block;
	text-align: left;
	text-transform: uppercase;
	font-size: 0.8125em;
	font-weight: bold;
	padding: 0.5em;
	color: #900;
}
				
		#contenedorAlonso p	{
	display: block;
	text-align: left;
	text-transform: uppercase;
	font-size: 0.6125em;
	font-weight: bold;
	padding: 0.5em;
	color: #900;
}

	            
    .top-bar h1{display: block;
                color: #000;
                text-align: center;
                text-transform: uppercase;
                font-size: 1.8125em;
                font-weight: bold;
                padding: .5em;}
				
	.tabla h1{display: block;
                color: #000;
                text-align: center;
                text-transform: uppercase;
                font-size: .8125em;
                font-weight: bold;
                padding: .5em;
				float:left;
				margin-left:0.938em;}
                
    .content h1{
	display: block;
	text-align: left;
	text-transform: uppercase;
	font-size: 0.9125em;
	font-weight: bold;
	padding-top: .5em;
	padding-left: 1.0em;
	padding-bottom: .5em;
	color: #900;
}

    .fondo1 h1{
	display: block;
	text-align: left;
	text-transform: uppercase;
	font-size: 0.9125em;
	font-weight: bold;
	padding-top: .5em;
	padding-left: 1.0em;
	padding-bottom: .5em;
	color: #900;
}
         #menu li{
	display: block;
	text-align: left;
	text-transform: uppercase;
	font-size: 0.6125em;
	font-weight: bold;
	padding-left: 1.0em;

	color: #900;
}           
    .content p{display: block;
                color: #000;
                text-align: justify;
                font-size: 0.9125em;
                margin: 0.4em;}
	
	}